<!--blog/apps/templates/staff/product/form.html-->
{% extends "../base.html" %}

{% block navbar %}
    {% with page=2 %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h4>Thông tin sản phẩm</h4>
    <form method="POST" enctype="multipart/form-data"> {%csrf_token%}
      <table class="table">{{form}}</table>
      <a class="btn btn-secondary" href="/staff/list-product">
        Quay lại
      </a>
      <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
  </div>
  <script>
    $(document).ready(function() {
      $('table input, table select').addClass('form-control');
    });
  </script>
{% endblock %}