<!--blog/apps/templates/staff/category/form.html-->
{% extends "../base.html" %}

{% block navbar %}
    {% with page=1 %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h3>Product Information</h3>
        <form method="POST"> {%csrf_token%}
            <table class="table">{{form}}</table>
            <a class="btn btn-secondary" href="/staff">Back</a>
            <button type="submit" class="btn btn-primary">Lưu lại</button>
        </form>
    </div>
    <script>
    $(document).ready(function() {
      $('table input, table select').addClass('form-control');
    });
    </script>
{% endblock %}